# Python-specific files

__pycache__/
*.py[cod]
*.swp 
*.swo
*.DS_Store
*.log
*.out
*.err

# Virtual environment 
venv/
.env/
.venv/

# Poetry
poetry.toml

# Django-specific files
db.sqlite3
*.sqlite3 
/media/
staticfiles/

# Docker
docker-compose.override.yml

# VSCode settings
.vscode/

# MacOS junk files
*.DS_Store
*.AppleDouble